%head
  %title CKAN demo
  %link{href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel: 'stylesheet'}
  %link{href: 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css', rel: 'stylesheet'}
  %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js'}
  :css
    pre { font-size: 2em; }
  :javascript
    hljs.initHighlightingOnLoad();
%body
  .container
    %h1 CKAN demo
    %h2 Code
    %pre
      %code.ruby= @script
    %h2 Result
    %pre= Rack::Utils.escape_html @result
