//- For Jade language reference, see <http://jade-lang.com/reference/>
section
  h1= title
  h2= author
section
  h2 Who am I?
section
  h2 Leeds Data Mill
section
  h2 CKAN
section
  h2 Getting to the data
section
  h2 Why code?
section
  h2 Demo!
section
  h2 Fin
